
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-size: 16px;
    background-color: #1a212a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    font-family: "Poppins", sans-serif;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 100px auto;
    padding: 100px 20px;
    border: 1px solid rgba(36, 44, 58, 0.8);
    background-color: #111d2c;
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
}

input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    background-color: #34495e;
    color: white;
}

button {
    font-size: 16px;
    width: 320px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2c9a95;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1b6d6d;
}
