<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Client App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the UnKnOwN tunneling client portal!</h1>
        <p>Please enter your username to view your v2ray config details.</p>
        <form action="{{ url_for('index', username='dummy') }}" method="GET" id="usernameForm">
            <input placeholder="Enter Username" type="text" id="username" name="username" required>
            <button type="submit">Submit</button>
        </form>
        <script>
            // Modify the form action dynamically based on user input
            document.getElementById('username').addEventListener('input', function() {
                var username = this.value;
                var form = document.getElementById('usernameForm');
                form.action = "/"+username;
            });
        </script>
    </div>
</body>
</html>
